USE [master]
GO
/****** Object:  Database [todolist]    Script Date: 13/06/2020 11.34.44 ******/
CREATE DATABASE [todolist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'todolist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\todolist.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'todolist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\todolist_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [todolist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [todolist]
GO
/****** Object:  Table [dbo].[todo]    Script Date: 13/06/2020 11.34.45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[todo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[task] [nchar](255) NOT NULL,
	[deadline] [date] NOT NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK_todo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
